.todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.todos.active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.052);
}

.todos h1 {
  font-size: 80px;
  font-weight: 100;
  margin: 20px 0;
}
